.portfolio {
  margin: 0 0 125px 0;
  padding: 0 70px;
}

.portfolio__title {
  margin: 0 0 50px 0 ;
  padding: 0;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;

  color: #A0A0A0;

  mix-blend-mode: normal
}

.portfolio__works {
  margin: 0;
  padding: 0;
}

.portfolio__list {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  list-style-type: none;
  border-bottom: solid 1px #E8E8E8;
}

.portfolio__list:last-of-type {
  margin: 0;
  padding: 0;
  border: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
  text-decoration: none;

  color: #000000;
}

.portfolio__link::after {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../images/link_next.svg") no-repeat center;
  content: "";
}

.portfolio__title-link {
  margin: 0;
  padding: 0;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;

  letter-spacing: -0.04em;

  color: #000000;
}
