.promo {
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  min-height: 524px;
  background: #073042 url(../../images/promo-logo.svg)  no-repeat center 82px;
  background-size: 320px;
}

.promo__title {
  max-width: 730px;
  margin: 184px auto 224px auto;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;

  text-align: center;
  letter-spacing: -0.04em;

  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .promo {
    min-height: 784px;
    background: #073042 url(../../images/promo-logo.svg)  no-repeat center 224px;
  }

  .promo__title {
    margin: 326px auto 342px auto;
  }
}

@media screen and (max-width: 320px) {
  .promo {
    min-height: 570px;
    background: #073042 url(../../images/promo-logo.svg) no-repeat center 142px;
    background-size: 248px;
  }

  .promo__title {
    max-width: 300px;

    margin: 208px auto 246px auto;

    font-size: 31px;
    line-height: 39px;
  }
}
