/* Полезная ссылка https://www.w3schools.com/howto/howto_css_switch.asp */
.checkbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.checkbox__label {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  cursor: pointer;
  margin-right: 12px;
}

.checkbox__input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox__span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2BE080;
  border-radius: 20px;
  margin: 0;
}

.checkbox__span:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 6px;
  bottom: 6px;
  background: #FFFFFF;
  transition: .4s;
  -webkit-transition: .4s;
  border-radius: 50%;
}

.checkbox__input:checked + .checkbox__span:before {
  transform: translateX(16px);
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  background: #FFFFFF;
}

.checkbox__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #000000;
}
