/* Laptop PC */
.login {
  margin-top: 70px;
}

/* Planshet */
@media screen and (max-width: 959px) {
  .login {
    margin-top: 232px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .login {
    margin-top: 56px;
  }
}
