.about-me {
  margin: 0 0 100px 0;
  padding: 0 70px;
}

.about-me__container {
  margin: 66px 0 0 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.item__left {
 width: 75%;
}

.item__right {
  width: 25%;
}

.item__right:hover {
  box-shadow: -3px 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(164, 164, 164, 0.03);
}

.about-me__title {
  margin: 0 0 18px 0;
  padding: 0;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;

  letter-spacing: -0.04em;

  color: #000000;
}

.about-me__sub-title {
  margin: 0 0 26px 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  color: #000000;

  mix-blend-mode: normal;
}

.about-me__bio {
  margin: 0 0 98px 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  color: #000000;

  mix-blend-mode: normal;
}

.about-me__contact {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content:start;
}

.about-me__list {
  margin: 0 20px 0 0;
  padding: 0;
  list-style-type: none;
}

.about__link {
  text-decoration: none;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.about-me__avatar {
  width: 100%;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
  filter: grayscale(100%);
  box-shadow: -3px 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(164, 164, 164, 0.03);
}

.about-me__avatar:hover {

  filter: grayscale(0%);
  cursor: pointer;

}

@media screen and (max-width:768px) {
  .about-me {
    padding: 0 50px;
    margin: 0 0 90px 0;
  }

  .about-me__title {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__sub-title {
    margin: 0 0 26px 0;

    font-size: 12px;
    line-height: 18px;
  }

  .about-me__bio {
    margin: 0 0 86px 0;

    font-size: 12px;
    line-height: 18px;
  }

  .item__left {
     width: 54%;
   }

  .item__right {
    width: 46%;
  }

  .about-me__avatar {
    height: 307px;
  }
}


@media screen and (max-width: 320px) {
  .about-me {
    padding: 0 14px;
    margin: 0 0 70px 0;
  }

  .about-me__container {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .about-me__title {
    margin: 0 0 16px 0;

    font-size: 30px;
    line-height: 36px;
  }

  .about-me__sub-title {
    margin: 0 0 20px 0;

    font-size: 11px;
    line-height: 16px;
  }

  .about-me__bio {
    margin: 0 0 40px 0;

    font-size: 11px;
    line-height: 16px;
  }

  .about-me__list {
    margin: 0 26px 0 0;
  }

  .item__left {
    width: 100%;
  }

  .item__right {
    width: 100%;
  }
  .about-me__avatar {
    height: 352px;
  }


}
